<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" href="#">
        <div class="navbar-brand">{{#link-to 'index'}}emberGates{{/link-to}}</div>
    </div>
      {{#if session.isAuthenticated}}
      <ul class="nav navbar-nav">
        <li>{{#link-to 'blogs'}}Blogs{{/link-to}}</li>
        <li>{{#link-to 'recipes'}}Recipes{{/link-to}}</li>
        <li>{{#link-to 'reviews'}}Reviews{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button {{action 'invalidateSession'}} class="btn btn-primary logout-button">Logout</button></li>
      </ul>
        {{else}}
      <ul class="nav navbar-nav navbar-right" class="btn logout-button">
        <li>{{#link-to "login"}}Login{{/link-to}}</li>
      </ul>
      {{/if}}
  </div>
</nav>

<div class="col-md-9 outlet">{{outlet}}</div>
{{#if session.isAuthenticated}}
<div class="col-md-3 activity-stream">
  <h4>Recent Activity</h4>
    <ul>
      {{#each sortedActivities as |activity|}}
        <a href="#" {{action "transitionToItem" activity }}><li>
            <b>User {{activity.userId}}</b> performed <b>{{activity.action}}</b> on <b>{{activity.trackableType}}</b> at {{activity.createdAt}}
        </li></a>
      {{else}}
        <li>No activities found.</li>
      {{/each}}
    </ul>
</div>
{{/if}}